$Orange: #FF8121;
$DarkBlue: #18185C;
$White: #FFFF; 
$White2: #F2F7FF;
$Blue: #004AAD;
$Gray: #CACACA;


.button1{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $DarkBlue;
    background-color: $Orange;
}

.button2{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $DarkBlue;
    background-color: $White2;
}

.button3{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $Blue;
    background-color: $White2;
}

.button4{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $White2;
    background-color: $DarkBlue;
}

.button5{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $White2;
    background-color: $Gray;
}
.button6{
    height: 64px;
    width: 230px;
    border-radius: 5px;
    font-size: 22px;
    color: $White2;
    background-color: $Blue;
}

.button6{
    height: 96px;
    width: 870px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
    color: $White;
    background-color: $Orange;
}

.button7{
    height: 64px;
    width: 580px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: $White;
    background-color: $Gray;
}

.button8{
    height: 64px;
    width: 880px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: $White;
    background-color: $Orange;
}

.button9{
    height: 54px;
    width: 60px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: $White;
    background-color: $Orange;
}

.button10{
    height: 64px;
    width: 330px;
    border-radius: 5px;
    font-size: 22px;
    color: $White2;
    background-color: $Orange;
}

.button11{
    height: 64px;
    width: 330px;
    border-radius: 5px;
    font-size: 22px;
    color: $White2;
    background-color: $Gray;
}